@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Sacramento&display=swap');


/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins";
}

:root{

    --primary-color:#222;
    --secondary-color:#000;
    --tertiary-color:#fff;
    --font-color:#3f9ed3;
}


html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: var(--secondary-color);
    margin: auto;
    color: var(--tertiary-color);
    overflow-x: hidden;
}




::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--font-color);
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color)
}

::-webkit-scrollbar-track {
  background: var(--tertiary-color);
}


/* navigation bar */

nav{
    display: flex;
    align-items: center;
    background:var(--tertiary-color);
    gap: 40px;
    z-index: 100;    
}



.navbar{
    position: fixed;
    align-items: center;
    width: 100%;
    top:0%;
    display: flex;
    background: var(--tertiary-color);
    padding: 10px 0px 0px 68px;
    gap: 340px;
    box-shadow: 0 0 7px #000;
    z-index: 100;  
}

#logo_img{
  width: 100px;
}


nav .navbar .NavHome{
    background: var(--font-color);
    color: var(--tertiary-color);
    padding: 4px 10px 4px;
    border-radius: 18px;
}

nav .navbar .links{
    display: flex;
    gap: 40px;
    width: 100%;
}


.navbar a{
    text-decoration: none;
    color: var(--primary-color);
    text-align: center;
    font-size: 15px;
}


ul.dropdown{
    display: none;
    position: absolute;
    border-radius: 20px ;
    top: 100%;
    left: 40%;
    margin-top: 5px;
    padding: 5px 5px 0 0;
    background: var(--tertiary-color) 
}




  ul.dropdown li {
    list-style-type: none;
    padding: 10px 20px 5px 20px;
}

  ul.dropdown li a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: var(--primary-color); 
    transition:all 1s ease-in-out;
}

ul.dropdown li a:hover{
  background: var(--font-color);
  border-radius: 20px;
  color: var(--tertiary-color);
}

ul.dropdown:nth-child(3){
  padding-bottom: 10px;
}

.nav-link::before {
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: var(--font-color);
    border-radius: 10px;
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
  
  .nav-link-ltr:hover::before {
    width: 4%;
  }

  .navbar .hamburger_menu{
    display: none;
    padding: 10px;
    font-size: 20px;
  }



/* header */


header{
    width: 100%;
    
}

.header_img{
    width: 100%;
    padding-top: 50px;
    
}

.header_img .gradient{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  background: linear-gradient(to right,#06151e,transparent); 
  z-index: 1; 

}
.header_img1{
  display: none;
}

#header_img{
    opacity: 0.7;
}

header .header_text{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 6%;
    left: 3%;
    z-index: 2;
}

.header_text img{  
    width: 80%;
    z-index: 2;
}

header .header_paragraph{
  display: none;
  position: absolute;
  text-align: center;
  font-size: small;
}

.button{
    position: absolute;
    display: flex;
    bottom: 18%;
    left: 18%;
    z-index: 2;
}


/* button */


#button{
    position:relative;
    text-decoration: none;
    text-align: center;
    color: var(--primary-color);
    background: var(--tertiary-color);
    width: 220px;
    height: 45px;
    padding: 10px 10px;
    border-radius:20px ;
    font-weight: 600;
    overflow:hidden;
    transition: all 0.2s ease-in-out;
}

 #button:hover{
    background: var(--font-color);
    color: var(--tertiary-color);
} 


#button:before,#button:after{
    content:'';
    position:absolute;
    height:100%;
    transform:skew(45deg);
    width:20%;
    left:-40%;
    top: 0;
  }
  #button:before{
    background:rgba(255,255,255,.3);
    transition:1s all;
  }
  #button:after{
    background:rgba(255,255,255,.1);
    transition:.4s all;
  }
  #button:hover:after,#button:hover:before{
    left:120%;
  }



/* header testimonial image */



.testimonial{

    position: absolute;
    top: 10%;
    left: 60%;
    gap: 500px;
    z-index: 2;
}

.testimonial img{
    width: 90%;
}


/* sections section heading title etc */

.section{
    position: relative;
    background: var(--tertiary-color);
    color: var(--primary-color);
    padding:70px;    
    margin-top: -7px;
}

.section .section_title{
    color: var(--font-color);
    font-weight: 400;
    font-size: medium;
    margin-bottom: 68px;

}

.section .section_heading{
    font-family: "Questrial", sans-serif;
    font-size: 40px;
    margin-top: -10px;
}

.section .section_heading span{
  font-family: "Sacramento", cursive;
    font-weight: 800;
    color: var(--font-color);
    font-size: 120px;
}

.section .section_heading div{
  margin-top: -15px;
  margin-bottom: -40px;
}


/* popular destination */

.section .destination img{
    width: 100%;
    border-radius: 20px;
}


.section .destination{
    display: grid;
    gap: 4%;
    grid-template-columns: repeat(3, 1fr);
}


.section .destination .destination_img{
    position: relative;

}



.img_des {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--tertiary-color);
    padding: 10px;
    opacity: 0;
    transform: translateY(5%);
    transition: opacity 0.5s ease-in-out, transform 0.7s ease-in-out;
    pointer-events: none;
  }
  .destination_img:hover .img_des {
    opacity: 1;
    transform: translateY(0);
    backdrop-filter: blur(3px);
    pointer-events: auto;
  }
  
  .section .destination .destination_img .img_des h1{
    margin-left: 20%;
    margin-top: 40%;
  }

  .section .destination .destination_img .img_des p{
    margin-left: 20%;
  }

  .img_location{
    position: absolute;
    bottom: 90%;
    left: 5%;
    font-size: large;
    opacity: 1;
    color: var(--tertiary-color);
    transition: all 0.5s ease-in-out;
  }

  .destination_img:hover .img_location{
    opacity: 0;
  }


  /* services */

  .service{
    display: grid;
    gap: 4%;
    grid-template-columns: repeat(3,1fr);
  }



  .service .service_box{
    border: 2px solid #454545;
    border-radius: 20px;
    padding: 30px;
    transition: all 0.7s ease-in-out;
  }

  .service .service_box #gif{
    width: 15%;
  }

  .service_box:hover{
    transform: translateY(-10px);
  }


  /* reviews */

  .review{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2%;
    row-gap: 10%;
    width: 100%;
  }

  .review_of_a_person{
    display: flex;
    flex-direction: row;
    gap: 10px;
    transition: all 0.6s ease-in-out;
  }

  .review_of_a_person .profile{
    position: relative;
    background: var(--font-color);
    width: 200px;
    height: 55px;
    color: var(--tertiary-color);
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding: 8px;
    top: 10%;
    border-radius: 100%;
    cursor: pointer;
  }


  .review .review_of_a_person .review_text{
    background: #454545;
    font-size: 20px;
    color: var(--tertiary-color);
    padding: 20px;
    border-radius: 20px;
    transition: all 0.6s ease-in-out;
  }


  .review .review_of_a_person .review_text span{
    color: #767676;
    font-size: smaller;
  }

  .review_text:hover{
    scale: 1.01;
    filter: drop-shadow(0 0 10px #00000057);
  }


  /* gallery section */

  .gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
  }

  .gallery .image img{
    width: 100%;
    border-radius: 20px;
    transition: all 0.7s ease-in-out;
  }

  .gallery .image img:hover{
    filter: drop-shadow(0 0 7px #000);
    transform: translateY(-10px);
  
  }

/* contact section */


.contact_container{
  position: relative;
  margin: auto;
  width: 100%;
  background-image: url(assets/pexels-photo-325185.png);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.row  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  width: 40%;
  padding: 45px;
  margin-left: 40px;
  
}

.contact-info-item {
  display: flex;
  margin-bottom: 20px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  text-align: center;

}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
  
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: var(--font-color);
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: var(--primary-color);
  font-size: 1em;
}

.contact-form {
  background: var(--tertiary-color);
  border-radius: 20px;
  padding: 40px;
  width: 40%;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-right: 100px;
  
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.contact-form .input-box {
  
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
  background: transparent;
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid var(--primary-color);
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: var(--primary-color);
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]
{
  width: 100%;
  background: var(--font-color);
  color: var(--tertiary-color);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-radius: 20px;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover
{
  background: transparent;
  color: var(--font-color);
  border: 2px solid var(--font-color);
}


/* Footer */
footer{
  background: var(--tertiary-color);
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer .copyright h2{
  font-size: 15px;
}

footer .copyright p{
  font-size: small;
}

footer .links #footerlinks{
  display: flex;
  list-style: none;
  gap: 18px;
}



#footerlinks a{
    text-decoration: none;
    color: var(--primary-color);
    text-align: center;
    font-size: 15px;
    opacity: 0.6;
    transition: all 0.8s ease-in-out;
}
#footerlinks a:hover{
  opacity: 1;
}



  /* Media Queries */


  /* Mobile responsive (Vertical) */
  @media (max-width:480px) {

    html{
      overflow-x: hidden;
    }



    /* navbar */
    .navbar{
    padding: 3px 0px 0px 10px;
    height: 40px;
    gap:230px;
    }

    .navbar .link{
      display: none;
    }
    .navbar .links a{
      display: none;
    }

    #logo_img{
      width: 80px;
    }


    .navbar .hamburger_menu{
      display: block;
    }


    
/* header */

.header_img1{
  display: block;
}


.header_img{
  display: none;
  width: 100%;
  padding-top: 40px;
  
}
#header_img{
  opacity: 0.7;
  width: 800px;
  height: 400px;
}

header .header_text{
  top: 8%;
  left: 1%;
}

.header_text img{  
  width: 95%;
}

header .header_paragraph{
  display: block;
  top: 36%;
  padding: 30px;
}

.testimonial img{
  display: none;
}

.button{
  bottom: 43%;
  left: 29%;
}


/* button */

#button{
  width: 150px;
  height: 40px;
  padding: 10px 10px;
  border-radius:20px ;
  font-size: 13px;
}


/* Section heading and section title */

.section{
  padding-top:50px;
  padding-left: 5%;
}


.section .section_title{
  font-size: small;
  margin-bottom: 40px;
}

.section .section_heading{
  font-size: 30px;
  margin-top: -10px;
}

.section .section_heading span{
  font-size: 70px;
}

.section .section_heading div{
margin-top: -15px;
margin-bottom: -30px;
}




/* popular destination */

.section .destination img{
  width: 120%;
}


.section .destination{
  display: grid;
  gap: 1%;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 80px;
}




.img_des {
  width: 120%;
  padding: 10px;
  opacity: 0;
  transform: translateY(5%);
  transition: opacity 0.5s ease-in-out, transform 0.7s ease-in-out;
  pointer-events: none;
}
.destination_img:hover .img_des {
  opacity: 1;
  transform: translateY(0);
  backdrop-filter: blur(3px);
  pointer-events: auto;
}

.section .destination .destination_img .img_des h1{
  margin-left: 12%;
  margin-top: 30%;
}

.section .destination .destination_img .img_des p{
  margin-left: 12%;
}


  /* services */

  .service{
    display: grid;
    gap: 4%;
    grid-template-columns: repeat(1,1fr);
    margin-bottom: 80px;
  }

  .service .service_box{
    width: 120%;
    border-radius: 20px;
    padding: 20px;
  }

  .service .service_box #gif{
    width: 18%;
  }



  /* reviews */

  .review{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 5%;
    row-gap: 2%;
    margin-bottom: 30px;
    width: 120%;
  }



  .review_text:hover{
    scale: 1.01;
  }

  
  .review_of_a_person .profile{
    width: 100px;
    height: 35px;
    font-size: 18px;
    padding: 5px;
  }


  .review .review_of_a_person .review_text{
    background: #454545;
    font-size: 12px;
    color: var(--tertiary-color);
    padding: 20px;
    border-radius: 20px;
    transition: all 0.6s ease-in-out;
  }


  /* gallery section */

  .gallery{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }

  .gallery .image img{
    width: 120%;
  }

  /* contact section */


 

  .contact_container{
    position: relative;
    margin: auto;
    width: 120%;
    background-image: url(assets/pexels-photo-325185.png);
    background-size: cover;
    border-radius: 20px;
    padding-bottom: 20px;
  }
  
  .row  {
    display: flex;
    flex-direction: column;
  }
  
  .contact-info {
    width: 100%;
    padding: 20px;
    padding-top: 25px;
    margin-left: -100px;
  }

  
  .contact-info-icon {
    height: 50px;
    width: 50px;
  
  
  }
  
  .contact-info-icon i {
    font-size: 25px;
    
  }
  

  .contact-info-content h4 {
    font-size: 1.1em;
  }
  
  .contact-info-content p {
    font-size: 0.8em;
  }
  
  .contact-form {
    width: 90%;
    margin-left: 18px;
  }
  
  .contact-form h2 {
    font-size: 1.7em;
  }

  
  .contact-form .input-box input,
  .contact-form .input-box textarea{
    font-size: 12px;
  }
  
  .contact-form .input-box span {
    font-size: 14px;
  }
  
  .contact-form .input-box input:focus ~ span,
  .contact-form .input-box textarea:focus ~ span{
    font-size: 11px;
  }
  

  
  
/* Footer */
footer{
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer .copyright h2{
  font-size: 15px;
}

footer .copyright p{
  font-size: small;
}

footer .links #footerlinks{
  display: flex;
  list-style: none;
  gap: 12px;
}



#footerlinks a{
    text-decoration: none;
    color: var(--primary-color);
    text-align: center;
    font-size: 9px;
    opacity: 0.6;
    transition: all 0.8s ease-in-out;
}
#footerlinks a:hover{
  opacity: 1;
}



  }





   /* Mobile responsive (Landscape) */
   @media (max-width:768px) {
    




   }



    /* Tablet responsive (Vertical) */
  @media (max-width:834px) {
    




  }



   /* Tablet responsive (Landscape) */
   @media (max-width:1024px) {
    




   }
